#define CONST_MAJOR 1
#define CONST_MINOR 0
#define CONST_RELEASE 32
#define CONST_BUILD 0
#define CONST_VERSION "1.0.32.0\000" 

1 VERSIONINFO
FILEVERSION CONST_MAJOR,CONST_MINOR,CONST_RELEASE,CONST_BUILD
PRODUCTVERSION CONST_MAJOR,CONST_MINOR,CONST_RELEASE,CONST_BUILD
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
    BLOCK "040904E4"
    {
        VALUE "CompanyName", "\0"
        VALUE "FileDescription", "fake sendmail for windows\0"
        VALUE "FileVersion", CONST_VERSION
        VALUE "InternalName", "sendmail.exe\0"
        VALUE "LegalCopyright", "©byron jones\0"
        VALUE "LegalTrademarks", "\0"
        VALUE "OriginalFilename", "sendmail.exe\0"
        VALUE "ProductName", "fake sendmail\0"
        VALUE "ProductVersion", CONST_VERSION
        VALUE "Comments", "\0"
    }
}

BLOCK "VarFileInfo"
{
    VALUE "Translation", 0x0409 0x04E4
}
}